@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gsub";
  src: url("assets/GillSansUltraBold.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

.text-stroke-1 {
  -webkit-text-stroke: .5px #341D12;
}

.text-stroke-half {
  -webkit-text-stroke: .5px #341D12;
}

.text-stroke-4 {
  -webkit-text-stroke: 4px #341D12;
}

.char{
  transform: translateY(100%);
  transition:  all .5s;
}

.react-multiple-carousel__arrow{
  background-color: #341d122c;
}